:root {
    --light-purple: #ADA0FA;
    --dark-purple: #7666BE;
    --white: #FFFFFF;
    --light-gray: #E6E6E6;
    --black: #000000;
    --vellune: #A54AEB;
    --glass: rgba(255, 255, 255, 0.2);/
}

button {
    background-color: var(--light-purple);
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: var(--dark-purple);
    color: var(--white);
}

button.active {
    background-color: var(--light-gray) !important;
    color: var(--black) !important;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    background-color: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.id_options {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background-color: var(--dark-purple);
    color: var(--white);
    padding: 10px;
    overflow-y: auto;
}

#users_id {
    margin-bottom: 20px;
}

#chats_id h3,
#users_id h3 {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    color: var(--white);
}

#chats_id button,
#users_id button {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--light-purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

#new_chat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: var(--light-purple);
    color: var(--white);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#chats_id button:hover,
#users_id button:hover {
    color: var(--black);
}

#chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-purple);
    position: relative;
    padding: 10px;
}

#messages {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.1);
    /* Fundo branco semitransparente */
    backdrop-filter: blur(10px);
    /* Efeito de vidro */
    -webkit-backdrop-filter: blur(10px);
    /* Compatibilidade com Safari */
    border-radius: 10px;
    /* Bordas arredondadas para suavizar o efeito */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Efeito de flutuação */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Borda sutil para realce */
}


.message {
    max-width: 70%;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}


.message-user {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 3px;
}


.bot-username {
    color: var(--dark-purple);
}


.user-message {
    align-self: flex-end;
    background-color: rgba(230, 230, 230, 0.9);
    color: var(--black);
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.bot-message {
    align-self: flex-start;
    background-color: var(--light-purple);
    color: var(--black);
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#input-area {
    display: flex;
    padding: 10px;
    background-color: var(--dark-purple);
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    background-color: var(--light-purple);
    color: var(--dark-purple);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#send-button:hover,
#new_chat:hover {
    background-color: var(--white);
}

#users_id button {
    transition: background-color 0.3s ease;

}

#users_id button:active {
    background-color: var(--light-gray);
}

.hidden {
    display: none !important;
}

#loading-animation {
    position: absolute;
    bottom: 10%;
    left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 10px;
}


.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid #40004d;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.user-username {
    text-align: right;
    display: block;
}

.highlighted-word {
    font-weight: 900;
    color: var(--vellune);
    text-size-adjust: 110%;
}